<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"

        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Lane statistics</title>
</head>
<body>
<h1 align="center">Lanes Statistics</h1>
<ul>
	<br>
	<li> LANE 1
		<ul>
			<li><a href=lane1/All.htm>All</a></li>
			<li><a href=lane1/Demultiplex_Stats.htm>Demultiplex_Stats</a></li>
			<li><a href=lane1/IVC.htm>IVC</a></li>
		</ul>
	</li>
	<br>
	<li> LANE 2
		<ul>
			<li><a href=lane2/All.htm>All</a></li>
			<li><a href=lane2/Demultiplex_Stats.htm>Demultiplex_Stats</a></li>
			<li><a href=lane2/IVC.htm>IVC</a></li>
		</ul>
	</li>
	<br>
	<li> LANE 3
		<ul>
			<li><a href=lane3/All.htm>All</a></li>
			<li><a href=lane3/Demultiplex_Stats.htm>Demultiplex_Stats</a></li>
			<li><a href=lane3/IVC.htm>IVC</a></li>
		</ul>
	</li>
	<br>
	<li> LANE 4
		<ul>
			<li><a href=lane4/All.htm>All</a></li>
			<li><a href=lane4/Demultiplex_Stats.htm>Demultiplex_Stats</a></li>
			<li><a href=lane4/IVC.htm>IVC</a></li>
		</ul>
	</li>
	<br>
	<li> LANE 5
		<ul>
			<li><a href=lane5/All.htm>All</a></li>
			<li><a href=lane5/Demultiplex_Stats.htm>Demultiplex_Stats</a></li>
			<li><a href=lane5/IVC.htm>IVC</a></li>
		</ul>
	</li>
	<br>
	<li> LANE 6
		<ul>
			<li><a href=lane6/All.htm>All</a></li>
			<li><a href=lane6/Demultiplex_Stats.htm>Demultiplex_Stats</a></li>
			<li><a href=lane6/IVC.htm>IVC</a></li>
		</ul>
	</li>
	<br>
	<li> LANE 7
		<ul>
			<li><a href=lane7/All.htm>All</a></li>
			<li><a href=lane7/Demultiplex_Stats.htm>Demultiplex_Stats</a></li>
			<li><a href=lane7/IVC.htm>IVC</a></li>
		</ul>
	</li>
	<br>
	<li> LANE 8
		<ul>
			<li><a href=lane8/All.htm>All</a></li>
			<li><a href=lane8/Demultiplex_Stats.htm>Demultiplex_Stats</a></li>
			<li><a href=lane8/IVC.htm>IVC</a></li>
		</ul>
	</li>
</ul>
</body>
</html>
